<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>I’m a self-motivated full-stack software developer who absolutely loves coding and problem solving.
                    I’ve completed a higher diploma in Computer Science in Software Development for which I’m due to
                    receive a first. </p>
                <p>I have a broad array of knowledge and experience. Programming languages I’m most familiar with are
                    Java, Ruby, Typescript, HTML, CSS, and SQL. Frameworks I have experience with include Spring Boot,
                    Ruby on Rails, and Angular. Other areas of knowledge and experience include Restful APIs, database
                    management and design, software planning and design, lifecycle methodologies such as Agile, and
                    object-oriented programming. </p>
                <p>Before I became a software developer, I worked for a charity in Corporate Fundraising. From this I
                    gained a wealth of professional experience and skills such as, planning and management,
                    communication, CRM software management, budget forecasting and progress reporting. </p>
                <p>Please have a look through my portfolio where you will find screenshots, links to the code, and
                    links to presentations or if available the live site for the work that I have produced. If you have
                    any question please get in touch.</p>
            </div>

        </div>
    </div>
</section>