 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I’m shortly due to graduate from a higher diploma in computer science in software development. I await the grade for my final project, but have already secured a 1:1 and my current average is 90%. I believe I’m an excellent candidate for the role of junior .NET developer.</p>
                </div>
                <div class="col-lg-4">
                    <p>I’ve a broad array of experience including languages such as Java, HTML, CSS, Ruby, Typescript, and SQL, and frameworks including Spring Boot, Angular and Ruby on Rails.  Although I don’t have experience with C# and .NET framework I have excellent experience with Java, a very similar object-oriented language. My grades clearly demonstrate my ability to learn languages, frameworks, and technologies extremely quickly and proficiently. Through my studies I’ve gained experience across other areas this position requires including databases, web services, source control, software development methodologies such as Agile, and software planning and design processes. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/sineadnaughton" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> See my linkedin
                    </a>
                </div>
            </div>
        </div>
    </section>
